extends ../layout.jade
block contenido
 h2(class='pacifico big blue') Menú
 p Productos de Calidad
 each producto in products
  div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
   h3(class="pacifico")= producto.title 
   img(src="#{producto.imageUrl}" class="col-xs-7 col-md-4 no-float")
   p(style="margin-top:1em;") 
    small(class="lato small") #{producto.pricing} USD 